@font-face{
    font-family: "lozfont";
    src: url('./assets/fonts/Triforce.ttf') format('truetype');
}
.background {
    background:#f3ecdc;
    min-height: 100vh;
    overflow-x: hidden;
}
/* .overlay{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border:4px solid #b7163f;
    height: 95vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.overlay-inner{
    border:2px solid #b7163f;
    height: 91vh;
    width: 93vw;
} */
.front-text{
    color:#b7163f;
    font-family: 'lozfont', 'Helvetica',sans-serif;
    font-weight: lighter;
    margin-top: 25vh;
    margin-left: 15vh;
    font-size: 80px;
    border-bottom:1px solid #b7163f;
    display: inline-block;
}
.statictext{
    position: fixed;
    z-index: -1;
    width: 100%;
}
.placeholder-frame{
    height: 60vh;
}
.wave-holder{
    display: flex;
    width: 5000px;
    height: 300px;
    transform: translateX(-1%);
    overflow: hidden;
    position: relative;
}
.wave{
    height: 100%;
    position: relative;
    max-width: 1500px;
}
.wave-front{
    z-index: 10;
    /* animation-name: wave;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; */
}
.wave2{
    height: 100%;
    position: absolute;
    z-index: -1;
}
.wave2:nth-child(2) {
    left: 4%;
}
.wave2:nth-child(3) {
    left: 14%;
}
.wave2:nth-child(4) {
    left: 24%;
}
.wave2:nth-child(6) {
    left: 34%;
}
.wave2:nth-child(7) {
    left: 44%;
}
.wave2:nth-child(8) {
    left: 54%;
}
.sail {
    position: absolute;
    height: 600px;
    top: -5px;
    z-index: -1;
    right: -55px;
}